<div class="profilecontainer">
    <form action="/signup-receive" method="post">
        <img src="{{image}}" alt="{{name}}">
        <h2 class="profilelist">{{name}}</h2>
        Breed: {{breed}}<br>
        Owner: {{owner}}<br>
        Profile: {{profile}}<br>
        <input class="profilebtn" type="submit" value="Done">
    </form>
</div>